body {
    text-align: center;
    font-family: arial;
}

.images img {
    border-style: solid;
}

.logo {
    padding-bottom: 85px;
}

.intro > h1 {
    margin-right: 10%;
}

table {
    width: 39%;
    margin-left: 29%;
    font-weight: bold;
}

td {
    padding-top: 4%;
    padding-botton: 4%;
    /*align: left;*/
}

.text {
    margin-top: 4%;
    background-color: red;
}

.text.ng-hide-remove, .text.ng-hide-remove-active {
    /*transition: all linear 0.5s;*/
    display: block !important;
    -webkit-animation-name: myChange;  
    -webkit-animation-duration: 4s; 
    animation-name: myChange;
    animation-duration: 4s;
}


@-webkit-keyframes myChange {
     0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes myChange {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}

}



.text p {
    width: 35%;
    margin-left: 32%;
    text-align: left;
    line-height: 225%;
    height: 160px;
}

#input {
    text-decoration: underline;
}

.active {
  background-color: salmon;
}

#submit {
    margin-top: 2%;
    margin-left: 25%;
}