body {
    text-align: center;
    font-family: arial;
}

.images img {
    border-style: solid;
}

.logo {
    padding-bottom: 85px;
}

.intro > h1 {
    margin-right: 10%;
}

table {
    width: 39%;
    margin-left: 29%;
    font-weight: bold;
}