body {
    text-align: center;
    font-family: arial;
}

.images img {
    border-style: solid;
}

.logo {
    padding-bottom: 85px;
}

.intro > h1 {
    margin-right: 10%;
}

table {
    width: 39%;
    margin-left: 29%;
    font-weight: bold;
}

td {
    padding-top: 4%;
    padding-botton: 4%;
    /*align: left;*/
}

.text {
    margin-top: 4%;
}

.text > p {
    width: 35%;
    margin-left: 32%;
    text-align: left;
    line-height: 225%;
    height: 160px;
}

#input {
    text-decoration: underline;
}